.main__about_content .image__container .about__image {
  width: 21rem;
  object-fit: cover;
}
.about__sub_logo {
  right: -1rem;
  bottom: -1rem;
  border: 3px solid var(--color-light);
}
.main__about_content {
  height: 40rem;
}

/* For screens smaller than 768px (mobile) */
@media (max-width: 768px) {
  .main__about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

/* For screens larger than 768px (desktop) */
@media (min-width: 769px) {
  .main__about_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

}
